/* Existing styles */
header {
  display: flex;
  padding: 10px 20px;
  color: aliceblue;
  align-items: center;
  justify-content: space-between;
}

.navbar-left {
  display: flex;
  align-items: center;
}

header img {
  width: 50px;
}

.navbar-left ul {
  display: flex;
  list-style: none;
  gap: 50px;
}

.navbar-left ul a {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  cursor: pointer;
  text-decoration: none;
  color: aliceblue;
  align-items: center;
  transition: 0.2s ease;
}

.navbar-icon {
  color: red;
  font-size: 20px;
  margin-right: 4px;
}

.navbar-left ul li:hover {
  color: red;
}

.navbar-right form {
  display: flex;
}

.navbar-right form input {
  border: none;
  outline: none;
  padding: 10px;
  color: whitesmoke;
  border-top-left-radius: 4%;
  border-bottom-left-radius: 4px;
  width: 250px;
  background-color: #373646;
}

.navbar-right form button {
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  border-top-right-radius: 4%;
  border-bottom-right-radius: 4px;
  background-color: #373646;
}

.search-icon {
  color: red;
  font-size: 25px;
  cursor: pointer;
}

/* New styles for responsiveness */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: whitesmoke;
  font-size: 24px;
  cursor: pointer;
}
.hamburger-icon {
  color: red;
  font-size: 25px;
}
.logout-btn {
  outline: none;
  border: none;
  padding: 5px;
  font-weight: bold;
  background-color: red;
  color: aliceblue;
  border-radius: 2px;
}
/* Responsive styling */
@media (max-width: 380px) {
  .navbar-right form input {
    width: 200px;
  }
}
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .navbar-left {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #373646;
    padding: 10px 0;
  }

  .navbar-left.open {
    display: flex;
    z-index: 1000;
  }

  .navbar-left ul {
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  .navbar-right {
    justify-content: flex-end;
  }
}
